.invites{
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.no-invites{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
}
.no-invites-img{
    height: 65vh;
    width: 38vw;
}
.invitations-back{
    max-width: 100vw;
    overflow: hidden;
}
.align-back{
    padding: 20px;
    /* width: 100vw; */
    /* transform: translate(300px,0); */
}
.invitation-header{
    color: rgb(255,255,255);
    margin-bottom: 20px;
}

.list-of-invites{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}