.list-back{
    /* background-color: rgb(20,19,19); */
    height: 100vh;
    padding: 25px;
    /* background: url('https://res.cloudinary.com/da7y99axc/image/upload/v1710582972/lap_fyjcqq.jpg') repeat-x;
    background-size: cover; */
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loader-container-latest{
    background-color: #121212;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.latest{
    color: white
}

.dropdown-latest{
    width: 70vw; 
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.home-page-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-button {
    font-size: 17px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: dodgerblue;
    transform: translate(-20px,10px);
    color: white;
    border-radius: 4px;
   }
   
   .back-button:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
   }
  