.each-card{
    /* background-color: rgb(47,51,50); */
    background-color: #1e1d1e;
    color: white;
    width: 70vw;
    border-radius: 15px;
    margin: 30px 10px 20px 10px;
    padding: 30px 80px 30px 80px;
    display: flex;
    justify-content: space-between;
}
.company-and-logo{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.company-and-logo span{
  margin-left: 20px;
}

.image-logo{
  width: 78px;
  height: 78px;
}


.rejected{
  color: black;
  background-color: red;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  margin-left: 10px;
}

.pending{
  color: black;
  background-color: #ffd84c;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 20px;
}

.gap{
  margin-right: 10px;
}

.accepted{
  color: black;
  background-color: green;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  margin-left: 10px;
}
.details-job{
  margin-top: 40px;
}

.buttons-latest{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 200px;
    align-items: center;
}

.delete{
  width: 60px;
  border-radius: 10px;
  border: 1px solid red;
  height: 60px;
  transform: translate(10px,-12px);

}
.can{
  color: red;
}


.btn-31,
.btn-31 *,
.btn-31 :after,
.btn-31 :before,
.btn-31:after,
.btn-31:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-31 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#1e1d1e, #fff);
  padding: 0;
}

.btn-31:disabled {
  cursor: default;
}

.btn-31:-moz-focusring {
  outline: auto;
}

.btn-31 svg {
  display: block;
  vertical-align: middle;
}

.btn-31 [hidden] {
  display: none;
}
.f-button{
  margin-bottom: 20px;
}
.skills-section{
  display: flex;
  margin-top: 15px;
}
.skill-name{
  color: black;
  background-color: rgb(166, 216, 216);
  border-radius: 15px;
  padding: 12px;
  margin-right: 10px;

}

.btn-31 {
  border-width: 0px;
  padding: 1rem 2rem;
  position: relative;
  text-transform: uppercase;

}

.btn-31:before {
  --progress: 100%;
  background: #fff;
  color: #1e1d1e;
  -webkit-clip-path: polygon(
    100% 0,
    var(--progress) var(--progress),
    0 100%,
    100% 100%
  );
  clip-path: polygon(
    100% 0,
    var(--progress) var(--progress),
    0 100%,
    100% 100%
  );
  content: "";
  inset: 0;
  position: absolute;
  transition: -webkit-clip-path 0.2s ease;
  transition: clip-path 0.2s ease;
  transition: clip-path 0.2s ease, -webkit-clip-path 0.2s ease;
}

.btn-31:hover:before {
  --progress: 0%;
}

.btn-31 .text-container {
  display: block;
  overflow: hidden;
  position: relative;
}

.btn-31 .text {
  display: block;
  font-weight: 900;
  mix-blend-mode: difference;
  position: relative;
}

.btn-31:hover .text {
  -webkit-animation: move-up-alternate 0.3s ease forwards;
  animation: move-up-alternate 0.3s ease forwards;
}

@-webkit-keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

  
  @keyframes login-blur {
    from {
      transform: translate(0) rotate(45deg);
    }
    to {
      transform: translateX(370px) rotate(45deg);
    }
  }
  
